<%# パーシャルはファイル名はアンダースコアから始まる %>
<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <%# 管理者アカウントを消さないように管理者がログインしているとき管理者が一致したときは!trueとなる %>
    | <%= link_to "delete", user, method: :delete,
        data: { confirm: "You sure?" } %>
  <% end %>
</li>