<!--複数のビューで使われるパーシャルは専用のディレクトリshared-->
<% if object.errors.any? %>
  <div id="error_explanation"><%# error_explanationはCSSヘルパー的な %>
    <div class="alert alert-danger"><%# (数,英単語)=>数+複数形 %>
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>